<!DOCTYPE html>
<html>
    <head>
        <title>Fighter Search</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <div id="landing-header">
         	<h1>Fighter Search</h1>
            <form action="/" method="POST">
                <div class="form-group">
                    <input class="form-control form-control-lg" type="text" name="name" placeholder="Fighter Name"></input>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-danger">Search!</button>
                </div>
            </form>
        </div>
        
            <ul class="slideshow">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>

<% include ./partials/footer %>