body {
  background-color: #000;
}

#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 35vh;
}

#landing-header h1 {
  color: #fff;
}

.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite; 
}

.slideshow li:nth-child(1) { 
  background-image: url(/img/209-not-surprised.jpg) 
}
.slideshow li:nth-child(2) { 
  background-image: url(/img/conor-mcgregor.jpg);
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(/img/cyborg-holm.jpg);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(/img/mighty-wiz-bar.jpg);
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(/img/rousey-ko.jpg);
  animation-delay: 40s; 
}

@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

.form-group input {
    margin: auto;
    width: 60vw;
}

.alert-danger {
    z-index: 1;
    opacity: 1;
    margin-top: 16px;
    margin-bottom: 0;
    text-align: center;
}


@media screen and (max-width: 1100px) and (min-height: 500px) {
  #landing-header h1{
    margin-bottom: 0;
  }
  
  .form-group input {
    margin: 35px auto;
    width: 75vw;
  }
  
  .btn-lg {
    width: 75vw;
  }
}

@media screen and (max-width: 1100px) {
  .slideshow li:nth-child(3) { 
    background-image: url(/img/cyborg-ufc.jpg);
    animation-delay: 20s; 
  }
  .slideshow li:nth-child(4) { 
    background-image: url(/img/brock.jpg);
    animation-delay: 30s; 
  }
  .slideshow li:nth-child(5) { 
    background-image: url(/img/rousey-ko-mobile.jpg);
    animation-delay: 40s; 
  }
}
/* Older browser support - .no-cssanimations class added by modernizr */
/*.no-cssanimations .slideshow li {*/
/*	opacity: 1;*/
/*}*/